/* Scss Document */

@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&family=Noto+Sans+JP:wght@300&display=swap');

$fontcolor:#333;
$maincolor:#f5c0d3;
$subcolor:#f3d3e2;
$white:#fff;
$black: #281022;

/*－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－
全ページ共通
－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－*/
html{
  font-size: 62.5%;
}

body{
  font-family: YuGothic, 'Yu Gothic medium', 'Hiragino Sans', Meiryo, 'sans-serif';
	font-size: 1.6rem;
	color: $fontcolor;
  letter-spacing: 2px;
  line-height: 1.6;
  background-color: white;
    @media screen and(max-width: 415px){
      font-size: 1.4rem;
    }
}

*:hover{
  transition: 0.2s;
}

/*－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－
文字
－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－*/
p{
  margin: 40px 0;
}
a{
  position: relative;
	color: $fontcolor;
  &::after{
    position: absolute;
    left: 20%;
    bottom: 4px;
    content: "";
    display: block;
    width: 60%;
    height: 1px;
    background: $maincolor;
    opacity: 0;
    transition: 0.2s;
  }
  &:hover{
    &::after{
      opacity: 1;
      transition: 0.2s;
    }
  }
}

/* 見出し */
h1,h2,h3,h4{
  font-weight: normal;
}
h1{
  font-size: 9rem;
  span{
    display: block;
    font-size: 1.6rem;
    color: $fontcolor;
    text-align: center;
    margin-top: 40px;
  }
    @media screen and(max-width: 415px){
      font-size: 5rem;
      text-align: left;
      span{
        font-size: 1.4rem;
        text-align: left;
      }
    }
}
h2{
  font-family: 'La Belle Aurore', YuMincho, 'Yu Mincho', 'Hiragino Sans', Meiryo, 'sans-serif';
  position: relative;
  font-size: 5rem;
  margin-bottom: 80px;
  text-align: center;
  &::after{
    position: absolute;
    left: calc(50% - 50px);
    bottom: 10px;
    content: "";
    display: block;
    width: 100px;
    height: 2px;
    background-color: $maincolor;
  }
}
h3{
  font-family: 'La Belle Aurore', YuMincho, 'Yu Mincho', 'Hiragino Sans', Meiryo, 'sans-serif';
  font-size: 3rem;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  width: 100%;
  &::before{
    content: '';
    width: 30px;
    height: 2px;
    background-color: $maincolor;
    margin-right: 10px;
    margin-bottom: 10px;
  }
}
h4{
  font-size: 2rem;
  color: $maincolor;
  margin-bottom: 20px;
}

/* リスト */
ul[class]{
  margin: 40px 0;
}

/* フォーム、ボタン */
input,textarea{
  width: 100%;background-color: $white;
  border: 0;
  border-bottom: 1px solid $maincolor;
  padding: 10px;
  margin-bottom: 10px;
}
input[type="submit"]{
  background-color: $subcolor;
  border: 1px solid $maincolor;
  width: auto;
  padding: 4px 10px;
  &:hover{
    cursor: pointer;
    background-color: $white;
  }
}

/* 装飾 */
.handwriting{
  font-family: 'La Belle Aurore', YuMincho, 'Yu Mincho', 'Hiragino Sans', Meiryo, 'sans-serif';
  a{
    text-decoration: none;
  }
}
.pinktext{
  color: $maincolor;
  a{
    color: inherit;
  }
}
.center{
  text-align: center;
}
.right{
  text-align: right
}

.box{
  border-top: 1px solid $maincolor;
  border-bottom: 1px solid $maincolor;
  padding: 40px;
}
.label{
  padding: 0 10px;
  background-color: $subcolor;
}
.label-line{
  position: relative;
  display: inline-block;
  padding: 4px 10px;
  background-color: $subcolor;
  margin-bottom: 20px;
  &::before{
    position: absolute;
    top: 2px;
    left: 2px;
    content: "";
    display: block;
    width: calc(100% - 4px) ;
    height: calc(100% - 4px);
    border: 1px solid $white;
    z-index: 1;
  }
}

/* レイアウト */
.flex{
  display: flex;
  flex-wrap: wrap;
}
.grid{
  display: grid;
}
dl.grid{
  grid-template-columns: auto 1fr;
  width: fit-content;
  dt,dd{
    padding: 10px;
    border-bottom: 1px solid $maincolor;
  }
}
/*－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－
横幅設定 桜の背景
－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－*/

main{
  position: relative;
  max-width: 800px;
  margin: 300px auto 160px;
  &::before{
    position: fixed;
    top: 0;
    left: 0;
    content: "";
    display: block;
    width: 100%;
    height: 30%;
    background: linear-gradient(rgba(243,211,226,1) 0%, rgba(255,255,255,0) 100%);
    z-index: -2;}
  &::after{
    position: fixed;
    top: 0;
    left: 0;
    content: "";
    display: block;
    width: 100%;
    height: 40%;
    max-height: 300px;
    background: url("../img/sakura-top.png") center top no-repeat ;
    background-size: contain;
    z-index: 1;
  }
    @media screen and(max-width: 1199px){
      margin: 160px auto 160px;
      padding: 10px;
    }
  section{
    width: 100%;
    margin-bottom: 100px;
  }
}

/*－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－
メニュー
－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－*/

header{
  position: fixed;
  bottom: 90px;
  right: 6px;
  justify-content: center;
  z-index: 9;
  .globalnav{
    position: relative;
    background-color: $white;
    border-bottom: 1px solid $maincolor;
    border-left: 1px solid $maincolor;
    transition: 0.3s;
    opacity: 0;
    &::after{
      position: absolute;
      bottom: -6px;
      right: 30px;
      content: "";
      display: block;
      width: 10px;
      height: 10px;
      background-color: $white;
      transform: rotate(-45deg);
      border-bottom: 1px solid $maincolor;
      border-left: 1px solid $maincolor;
    }
    ul{
      display: flex;
      justify-content:  flex-end;
      flex-direction: column;
      padding: 0;
      margin: 0;
      text-align: center;
      li{
        padding: 10px;
        a{
          display: block;
        }
      }
    }
    &.is-active{
      transition: 0.3s;
      opacity: 0.9;
    }
  }
}

/* メニューボタン */
.menubtn {
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $maincolor;
  color: $fontcolor;
  width: 60px;
  height: 60px;
  padding: 8px;
  border-radius: 50%;
  opacity: 0.5;
  z-index: 99;
  transition: 0.3s;
  cursor: pointer;
  &:hover{
    opacity: 1;
  }
}

/*－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－
index
－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－*/
body#index{
  .prologue{
    display: flex;
    justify-content: center;
    margin: 80px auto;
    font-family: YuMincho, 'Yu Mincho', 'Hiragino Sans', Meiryo, 'sans-serif';
    p{
      max-width: 60%;

    }
    @media screen and(max-width: 415px){
      width: 100%;
      margin: 80px auto;
      p{
        width: 100%;
      }
    }
  }
    .sakura{
    margin: 160px auto;
      width: 180px;
      height: 160px;
      @media screen and(max-width: 415px){
        width: 90px;
        height: 80px;
      }
  }
  .news{
    padding: 20px 30px;
    height: 100px;
    overflow-y: auto;
    ul{
        margin: -10px 0;
      li{
        margin: 10px 0;
        time{
          margin-right: 20px;
        }
      }
    }
  }
  #link{
    ul.flex{
      li{
        margin-right: 10px;
        margin-bottom: 10px;
      }
    }
  }
  #contact{
    form{
      width: 100%;
      
    }
  }
}

/*－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－
Novel
－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－*/
/* 数字付きリスト */
ul.list{
  li{
    margin: 4px 10px;
    .number{
      margin-right: 4px;
    }
  }
}
/* 説明文付きリスト */
ul.list2{
    li{
      margin-bottom: 20px;
      span{
        display: block;
        font-family: YuGothic, 'Yu Gothic medium', 'Hiragino Sans', Meiryo, 'sans-serif';
        font-size: small;
        color: lighten($fontcolor, 50%);
        margin-left: 40px;
      }
    }
}
/*－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－
小説ページ
－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－*/
body.story{
  background-color: $black;
  &::before{
    position: fixed;
    bottom: 0;
    left: 0;
    content: "";
    display: block;
    width: 100%;
    height: 100vh;
    background: url("../img/petal.png") left bottom / 100% 100% no-repeat;
    z-index: -2;
  }
  &::after{
    position: fixed;
    top: 0;
    left: calc(50% - 600px);
    content: "";
    display: block;
    width: 1200px;
    height: 100vh;
    background: rgba($white,0.95) ;
    z-index: -1;
  }
  @media screen and(max-width: 415px){
    // color: $white;
      &::before{
        background: url("../img/petal.png") left bottom / 100% 50% no-repeat;
      }
      // &::after{
      //   display: none;
      // }
  }
  main{
    display: block;
    z-index: 1;
    padding: 40px 80px;
    p{
      text-align: justify;
    }
    .noveltitle{
      position: relative;
      color: $subcolor;
      font-size: 7rem;
      text-align: center;
      margin: 160px auto;
      width: 580px;
      span{
        position: absolute;
        top: 70px;
        right:0;
      }
      @media screen and(max-width: 415px){
        font-size: 4rem;
      }
    }
    .navi{
      font-size: 2rem;
      text-align: center;
      margin: 160px;
      span{
        margin: 0 20px;
      }
      @media screen and(max-width: 415px){
        margin: 160px 0;
      }
    }
    .afterword{
      margin: 160px auto 0;
      width: 60%;
      @media screen and(max-width: 415px){
        width: 100%;
      }
    }
    @media screen and(max-width: 415px){
      padding: 10px;
      .noveltitle{
        margin: 80px auto;
        width: auto;
        span{
          top: 20px;
        }
      }
    }
  }
}




/*－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－
フッター
－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－*/
footer{
  text-align: center;
  padding: 20px;
}
